[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
blacken-docs = "*"
isort = "*"
pelican = "*"
pelican-sitemap = "*"
pelican-webassets = "*"
plugins = {path = "plugins"}
pygments = "*"

[dev-packages]
pre-commit = "*"
rstcheck = "*"

[requires]
python_version = "3.10"
